.channels {

  .line {
    border-bottom: 2px solid #e4e4e4;
    margin: 8px auto 0 auto;
  }

  .buttons {
    width: 216px;
    margin: 16px auto;
    text-align: center;

    button {
      margin-top: 32px;
    }

    button.mediaMax {
      width: 200px;
      height: 36px;
    }

    @media (max-width: 420px) {
      button.mediaMax {
        width: 100%;
      }
      width: 100%;
    }
  }
}