.paypal {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;

  .paypal-button {
    background: #DCDCDC !important;
    height: 36px;
    border-radius: 4px;

    .logo-container {
      height: 100%;
      width: 64px;

      .logo {
        height: 100%;
      }
    }
  }
}
